In [213]:
import numpy as np
import pandas as pd

In [214]:
file_path = "ucs-654-kaggle-hack-lab-exam-1-privateleaderboard-2025-01-22T07_48_17.csv"
df = pd.read_csv(file_path)

In [215]:
df.head()

,Rank,TeamId,TeamName,LastSubmissionDate,Score,SubmissionCount,TeamMemberUserNames
0,1,13226589,102203391_Lakshay_Ratra,2025-01-20 00:56:42,0.89031,50,lakshayratra
1,2,13229458,102203498_GAUTAM,2025-01-20 00:35:17,0.88938,27,gautamdeora7
2,3,13226596,102203853_Piyush_Kumar,2025-01-19 23:01:28,0.88922,42,piyushkumar003
3,4,13236226,102203465_Shashank_Kaushik,2025-01-20 00:43:24,0.88907,9,shashank399
4,5,13231060,102203964_harsh_tyagi,2025-01-20 02:11:10,0.88883,9,htyagi94

In [216]:
def is_valid_team_name(team_name):
    # Split the TeamName and check for various formats
    parts = team_name.split("_")
    
    # Case 1: Check if the last part is a 9-digit roll number (firstname_lastname_rollno)
    if len(parts) >= 3 and parts[-1].isdigit() and len(parts[-1]) == 9:
        return True
    
    # Case 2: Check if the first part is a 9-digit roll number (rollno_firstname_lastname)
    elif len(parts) >= 3 and parts[0].isdigit() and len(parts[0]) == 9:
        return True
    
    # Case 3: Check if the second part is a 9-digit roll number (name_rollno)
    elif len(parts) == 2 and parts[1].isdigit() and len(parts[1]) == 9:
        return True
    
    # Case 4: Check if the first part is a 9-digit roll number (rollno_name)
    elif len(parts) == 2 and parts[0].isdigit() and len(parts[0]) == 9:
        return True
    
    return False  # Return False if none of the conditions are met

df_filtered = df[df['TeamName'].apply(is_valid_team_name)]

In [217]:
df_filtered  = df[df['TeamName'].apply(is_valid_team_name)]

In [219]:
df_filtered.head(10)

,Rank,TeamId,TeamName,LastSubmissionDate,Score,SubmissionCount,TeamMemberUserNames
0,1,13226589,102203391_Lakshay_Ratra,2025-01-20 00:56:42,0.89031,50,lakshayratra
1,2,13229458,102203498_GAUTAM,2025-01-20 00:35:17,0.88938,27,gautamdeora7
2,3,13226596,102203853_Piyush_Kumar,2025-01-19 23:01:28,0.88922,42,piyushkumar003
3,4,13236226,102203465_Shashank_Kaushik,2025-01-20 00:43:24,0.88907,9,shashank399
4,5,13231060,102203964_harsh_tyagi,2025-01-20 02:11:10,0.88883,9,htyagi94
5,6,13224988,102203637_Chahat_Verma,2025-01-20 01:52:32,0.88869,35,chahatverma5
8,9,13225622,102203313_Aryan_Chharia,2025-01-19 19:44:19,0.88731,54,aryanchharia
9,10,13226592,102217092_ADITYA_PANDEY,2025-01-19 23:09:38,0.88692,12,asadityasonu
10,11,13230176,102217118_Kartik_Garg,2025-01-20 02:01:40,0.88643,24,kartikgarg257915
11,12,13226510,102217119_Krishna_Vig,2025-01-20 02:17:41,0.88624,28,vigkrishna007

In [220]:
df.iloc[7]

Rank                                     8
TeamId                            13236601
TeamName                        erik derby
LastSubmissionDate     2025-01-19 23:48:54
Score                              0.88842
SubmissionCount                          9
TeamMemberUserNames              erikderby
Name: 7, dtype: object

In [221]:
df_filtered.iloc[7]

Rank                                        10
TeamId                                13226592
TeamName               102217092_ADITYA_PANDEY
LastSubmissionDate         2025-01-19 23:09:38
Score                                  0.88692
SubmissionCount                             12
TeamMemberUserNames               asadityasonu
Name: 9, dtype: object

In [222]:
df.shape

(458, 7)

In [223]:
df_filtered.shape

(349, 7)

In [224]:
# Define the weights and impacts
weights = {'Rank': 1, 'Score': 2, 'SubmissionCount': 3}
impacts = {'Rank': '-', 'Score': '+', 'SubmissionCount': '+'}

In [225]:
# Normalize the data
def normalize_column(col, impact):
    if impact == '+':
        return (col - col.min()) / (col.max() - col.min())
    else:
        return (col.max() - col) / (col.max() - col.min())

In [226]:
# Apply normalization
df_filtered.loc[:, 'NormalizedRank'] = normalize_column(df_filtered['Rank'], impacts['Rank'])
df_filtered.loc[:, 'NormalizedScore'] = normalize_column(df_filtered['Score'], impacts['Score'])
df_filtered.loc[:, 'NormalizedSubmissionCount'] = normalize_column(df_filtered['SubmissionCount'], impacts['SubmissionCount'])

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\1099841294.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'NormalizedRank'] = normalize_column(df_filtered['Rank'], impacts['Rank'])
C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\1099841294.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'NormalizedScore'] = normalize_column(df_filtered['Score'], impacts['Score'])
C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\1099841294.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'NormalizedSubmissionCount'] = normalize_column(df_filtered['SubmissionCount'], impacts['SubmissionCount'])

In [227]:
# Apply weights
df_filtered.loc[:, 'WeightedRank'] = df_filtered['NormalizedRank'] * weights['Rank']
df_filtered.loc[:, 'WeightedScore'] = df_filtered['NormalizedScore'] * weights['Score']
df_filtered.loc[:, 'WeightedSubmissionCount'] = df_filtered['NormalizedSubmissionCount'] * weights['SubmissionCount']

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\579411891.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'WeightedRank'] = df_filtered['NormalizedRank'] * weights['Rank']
C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\579411891.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'WeightedScore'] = df_filtered['NormalizedScore'] * weights['Score']
C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\579411891.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'WeightedSubmissionCount'] = df_filtered['NormalizedSubmissionCount'] * weights['SubmissionCount']

In [228]:
df_filtered.head(15)

,Rank,TeamId,TeamName,LastSubmissionDate,Score,SubmissionCount,TeamMemberUserNames,NormalizedRank,NormalizedScore,NormalizedSubmissionCount,WeightedRank,WeightedScore,WeightedSubmissionCount
0,1,13226589,102203391_Lakshay_Ratra,2025-01-20 00:56:42,0.89031,50,lakshayratra,1.000000,1.000000,0.620253,1.000000,2.000000,1.860759
1,2,13229458,102203498_GAUTAM,2025-01-20 00:35:17,0.88938,27,gautamdeora7,0.997802,0.999853,0.329114,0.997802,1.999706,0.987342
2,3,13226596,102203853_Piyush_Kumar,2025-01-19 23:01:28,0.88922,42,piyushkumar003,0.995604,0.999828,0.518987,0.995604,1.999656,1.556962
3,4,13236226,102203465_Shashank_Kaushik,2025-01-20 00:43:24,0.88907,9,shashank399,0.993407,0.999804,0.101266,0.993407,1.999608,0.303797
4,5,13231060,102203964_harsh_tyagi,2025-01-20 02:11:10,0.88883,9,htyagi94,0.991209,0.999766,0.101266,0.991209,1.999532,0.303797
5,6,13224988,102203637_Chahat_Verma,2025-01-20 01:52:32,0.88869,35,chahatverma5,0.989011,0.999744,0.430380,0.989011,1.999488,1.291139
8,9,13225622,102203313_Aryan_Chharia,2025-01-19 19:44:19,0.88731,54,aryanchharia,0.982418,0.999526,0.670886,0.982418,1.999052,2.012658
9,10,13226592,102217092_ADITYA_PANDEY,2025-01-19 23:09:38,0.88692,12,asadityasonu,0.980220,0.999465,0.139241,0.980220,1.998929,0.417722
10,11,13230176,102217118_Kartik_Garg,2025-01-20 02:01:40,0.88643,24,kartikgarg257915,0.978022,0.999387,0.291139,0.978022,1.998774,0.873418
11,12,13226510,102217119_Krishna_Vig,2025-01-20 02:17:41,0.88624,28,vigkrishna007,0.975824,0.999357,0.341772,0.975824,1.998714,1.025316
12,13,13227666,102217249_Manya_Chhabra,2025-01-20 02:29:28,0.88608,2,manyachhabra,0.973626,0.999332,0.012658,0.973626,1.998664,0.037975
13,14,13230407,102217106_Deepansh_Patni,2025-01-20 02:17:09,0.88560,18,deepanshpatni,0.971429,0.999256,0.215190,0.971429,1.998512,0.645570
14,15,13225221,102203877_Vaibhav_Tandon,2025-01-20 02:18:47,0.88545,68,vtandon1204,0.969231,0.999232,0.848101,0.969231,1.998465,2.544304
15,16,13226287,102217009_Manik_Jain,2025-01-20 02:18:49,0.88529,25,manikjain105,0.967033,0.999207,0.303797,0.967033,1.998414,0.911392
16,17,13224525,102203280_Bhumika_Tandon,2025-01-19 20:24:08,0.88472,19,bhumikatandon,0.964835,0.999117,0.227848,0.964835,1.998234,0.683544

In [229]:
# Ideal best and worst solutions
ideal_best = df_filtered[['WeightedRank', 'WeightedScore', 'WeightedSubmissionCount']].max()
ideal_worst = df_filtered[['WeightedRank', 'WeightedScore', 'WeightedSubmissionCount']].min()

In [230]:
# Calculate Euclidean distances
df_filtered.loc[:, 'DistanceBest'] = np.sqrt(((df_filtered[['WeightedRank', 'WeightedScore', 'WeightedSubmissionCount']] - ideal_best) ** 2).sum(axis=1))
df_filtered.loc[:, 'DistanceWorst'] = np.sqrt(((df_filtered[['WeightedRank', 'WeightedScore', 'WeightedSubmissionCount']] - ideal_worst) ** 2).sum(axis=1))

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\3430539749.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'DistanceBest'] = np.sqrt(((df_filtered[['WeightedRank', 'WeightedScore', 'WeightedSubmissionCount']] - ideal_best) ** 2).sum(axis=1))
C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\3430539749.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'DistanceWorst'] = np.sqrt(((df_filtered[['WeightedRank', 'WeightedScore', 'WeightedSubmissionCount']] - ideal_worst) ** 2).sum(axis=1))

In [231]:
# Calculate TOPSIS score
df_filtered.loc[:, 'TopsisScore'] = df_filtered['DistanceWorst'] / (df_filtered['DistanceBest'] + df_filtered['DistanceWorst'])

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\1320592218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'TopsisScore'] = df_filtered['DistanceWorst'] / (df_filtered['DistanceBest'] + df_filtered['DistanceWorst'])

In [232]:
# Rank participants based on the TOPSIS score
df_filtered.loc[:, 'TopsisRank'] = df_filtered['TopsisScore'].rank(ascending=False)

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\3280709495.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'TopsisRank'] = df_filtered['TopsisScore'].rank(ascending=False)

In [233]:
# Assign Marks
def assign_marks(rank, score, df_filtered):
    if rank <= len(df_filtered) * 0.15:
        marks = 2.0
    elif rank <= len(df_filtered) * 0.30:
        marks = 1.5
    elif rank <= len(df_filtered) * 0.45:
        marks = 1.0
    elif rank <= len(df_filtered) * 0.60:
        marks = 0.75
    elif rank <= len(df_filtered) * 0.75:
        marks = 0.5
    else:
        marks = 0.25

    # Check if the score is duplicated
    if df_filtered['Score'].tolist().count(score) > 1:
        marks = -10  # Deduct 10 marks if the score is duplicated

    return marks

In [234]:
df_filtered['Marks'] = df_filtered.apply(lambda row: assign_marks(row['TopsisRank'], row['Score'], df_filtered), axis=1)

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\744548137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Marks'] = df_filtered.apply(lambda row: assign_marks(row['TopsisRank'], row['Score'], df_filtered), axis=1)

In [240]:
# Update topsis_rank and topsis_score to null for students with Marks = -10
df_filtered.loc[df_filtered['Marks'] == -10, ['TopsisRank', 'TopsisScore']] = np.nan

In [241]:
df_filtered.loc[:, 'Roll Number'] = df_filtered['TeamId']
df_filtered.loc[:, 'Name'] = df_filtered['TeamName']

C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\3554930899.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'Roll Number'] = df_filtered['TeamId']
C:\Users\Vaibhav Tandon\AppData\Local\Temp\ipykernel_21920\3554930899.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.loc[:, 'Name'] = df_filtered['TeamName']

In [242]:
df_filtered.head(15)

,Rank,TeamId,TeamName,LastSubmissionDate,Score,SubmissionCount,TeamMemberUserNames,NormalizedRank,NormalizedScore,NormalizedSubmissionCount,WeightedRank,WeightedScore,WeightedSubmissionCount,DistanceBest,DistanceWorst,TopsisScore,TopsisRank,Marks,Roll Number,Name
0,1,13226589,102203391_Lakshay_Ratra,2025-01-20 00:56:42,0.89031,50,lakshayratra,1.000000,1.000000,0.620253,1.000000,2.000000,1.860759,1.139241,2.909025,0.718586,18.0,2.00,13226589,102203391_Lakshay_Ratra
1,2,13229458,102203498_GAUTAM,2025-01-20 00:35:17,0.88938,27,gautamdeora7,0.997802,0.999853,0.329114,0.997802,1.999706,0.987342,2.012659,2.443211,0.548313,68.0,1.50,13229458,102203498_GAUTAM
2,3,13226596,102203853_Piyush_Kumar,2025-01-19 23:01:28,0.88922,42,piyushkumar003,0.995604,0.999828,0.518987,0.995604,1.999656,1.556962,1.443045,2.722863,0.653606,23.0,2.00,13226596,102203853_Piyush_Kumar
3,4,13236226,102203465_Shashank_Kaushik,2025-01-20 00:43:24,0.88907,9,shashank399,0.993407,0.999804,0.101266,0.993407,1.999608,0.303797,2.696211,2.253349,0.455263,181.0,0.75,13236226,102203465_Shashank_Kaushik
4,5,13231060,102203964_harsh_tyagi,2025-01-20 02:11:10,0.88883,9,htyagi94,0.991209,0.999766,0.101266,0.991209,1.999532,0.303797,2.696217,2.252314,0.455148,182.0,0.75,13231060,102203964_harsh_tyagi
5,6,13224988,102203637_Chahat_Verma,2025-01-20 01:52:32,0.88869,35,chahatverma5,0.989011,0.999744,0.430380,0.989011,1.999488,1.291139,1.708896,2.577428,0.601314,41.0,2.00,13224988,102203637_Chahat_Verma
8,9,13225622,102203313_Aryan_Chharia,2025-01-19 19:44:19,0.88731,54,aryanchharia,0.982418,0.999526,0.670886,0.982418,1.999052,2.012658,0.987499,3.002024,0.752477,12.0,2.00,13225622,102203313_Aryan_Chharia
9,10,13226592,102217092_ADITYA_PANDEY,2025-01-19 23:09:38,0.88692,12,asadityasonu,0.980220,0.999465,0.139241,0.980220,1.998929,0.417722,2.582354,2.265180,0.467285,158.0,0.75,13226592,102217092_ADITYA_PANDEY
10,11,13230176,102217118_Kartik_Garg,2025-01-20 02:01:40,0.88643,24,kartikgarg257915,0.978022,0.999387,0.291139,0.978022,1.998774,0.873418,2.126696,2.390499,0.529200,86.0,1.50,13230176,102217118_Kartik_Garg
11,12,13226510,102217119_Krishna_Vig,2025-01-20 02:17:41,0.88624,28,vigkrishna007,0.975824,0.999357,0.341772,0.975824,1.998714,1.025316,1.974832,2.449156,0.553608,65.0,1.50,13226510,102217119_Krishna_Vig
12,13,13227666,102217249_Manya_Chhabra,2025-01-20 02:29:28,0.88608,2,manyachhabra,0.973626,0.999332,0.012658,0.973626,1.998664,0.037975,2.962143,2.223521,0.428782,232.0,0.50,13227666,102217249_Manya_Chhabra
13,14,13230407,102217106_Deepansh_Patni,2025-01-20 02:17:09,0.88560,18,deepanshpatni,0.971429,0.999256,0.215190,0.971429,1.998512,0.645570,2.354604,2.313976,0.495649,123.0,1.00,13230407,102217106_Deepansh_Patni
14,15,13225221,102203877_Vaibhav_Tandon,2025-01-20 02:18:47,0.88545,68,vtandon1204,0.969231,0.999232,0.848101,0.969231,1.998465,2.544304,0.456736,3.377388,0.880876,4.0,2.00,13225221,102203877_Vaibhav_Tandon
15,16,13226287,102217009_Manik_Jain,2025-01-20 02:18:49,0.88529,25,manikjain105,0.967033,0.999207,0.303797,0.967033,1.998414,0.911392,2.088868,2.399885,0.534644,76.0,1.50,13226287,102217009_Manik_Jain
16,17,13224525,102203280_Bhumika_Tandon,2025-01-19 20:24:08,0.88472,19,bhumikatandon,0.964835,0.999117,0.227848,0.964835,1.998234,0.683544,2.316723,2.321870,0.500555,112.0,1.00,13224525,102203280_Bhumika_Tandon

In [243]:
 # Specify the number of top ranks you want to see
df_sorted = df_filtered.sort_values(by='TopsisRank', ascending=True)  # Sort by TopsisRank in ascending order
print(df_sorted[['Roll Number', 'Name', 'TopsisRank','Marks']].head(52))

     Roll Number                           Name  TopsisRank  Marks
17      13224765         102203810_Anchit_mehra         1.0    2.0
83      13225943       102217128_Karanjot_Singh         2.0    2.0
195     13225792      102203958_Pratyush_Sharma         3.0    2.0
14      13225221       102203877_Vaibhav_Tandon         4.0    2.0
18      13225818       102203309_Abhishek_Verma         5.0    2.0
23      13227523         102203804_Rohit_Singla         6.0    2.0
253     13225162          102217008_Abhinav_Raj         7.0    2.0
65      13228408       102203010_Mokshit_Sandhu         8.0    2.0
98      13225879         102203589_Jatin_Sareen         9.0    2.0
233     13226479      102217149_kushagra_kansal        10.0    2.0
244     13226699        102203789_Kartik_Sidana        11.0    2.0
8       13225622        102203313_Aryan_Chharia        12.0    2.0
277     13225170         102217179_Pranshu_Garg        13.0    2.0
197     13226302               102203619_Prince        14.0    2.0
283     13225800  102203447_Vashistha_Choudhary        16.0    2.0
49      13224439        102203745_Raghav_Jindal        17.0    2.0
0       13226589        102203391_Lakshay_Ratra        18.0    2.0
103     13227041               102203908_Aastha        19.0    2.0
84      13225715       102203234_Guramrit_Singh        20.0    2.0
212     13224898       102217014_Aaditya_Thakur        21.0    2.0
26      13225410         102203840_Ayush_Sharma        22.0    2.0
2       13226596         102203853_Piyush_Kumar        23.0    2.0
230     13225871       102203236_Pranav_Khurana        24.0    2.0
39      13226665      102203551_Aryan_Vashishth        26.0    2.0
89      13225129        102203584_Trish_Rustagi        28.0    2.0
29      13226354                102203778_Vivek        29.0    2.0
43      13226679      102203404_Aryan_Sabharwal        30.0    2.0
181     13228426              102203914_anshika        31.0    2.0
235     13224639      102216005_Reetinder_Singh        32.0    2.0
99      13232186        102203244_Manmeet_Singh        33.0    2.0
47      13231329    102203733_AkshitKumarMarkan        34.0    2.0
67      13225578     102203103_Krishnansh_Verma        35.0    2.0
252     13226987         102216078_Sourav_Sethi        36.0    2.0
96      13226889       102203191_Shivane_Kapoor        37.0    2.0
101     13225089        102203636_Parth_Adlakha        38.0    2.0
28      13225802         102203119_Ayush_Panwar        39.0    2.0
22      13226103       102217183_Samdeep_Sharma        40.0    2.0
5       13224988         102203637_Chahat_Verma        41.0    2.0
266     13228667  102217040_SaiVarsha_Gummadapu        42.0    2.0
208     13230070       102203322_gauransh_mehra        43.0    2.0
24      13226403         102203818_Tanisha_Jain        44.0    2.0
55      13229650         102203381_vaibhav_garg        45.0    2.0
213     13231124    102203009_Manunjay_Bhardwaj        46.0    2.0
66      13226227      102203520_Dhanishta Jaggi        47.0    2.0
146     13228642                 102203774_Ajay        48.0    2.0
157     13227570          102217236_Anmol_Singh        49.0    2.0
97      13225876         102203427_aditya_singh        50.0    2.0
54      13229527      102203045_Divyansh_Manhas        51.0    2.0
127     13226677       102203220_Bhawneet_Singh        52.0    2.0
32      13232209           102203558_Udit_Arora        53.0    1.5
255     13225867     102203295_Jashandeep_Singh        54.0    1.5
222     13231230        102203487_SAMARTH_SINGH        56.0    1.5

In [244]:
df_output = df_sorted[['Roll Number', 'Name', 'Rank', 'Score', 'SubmissionCount', 'TopsisScore', 'TopsisRank', 'Marks']]

In [247]:
name_to_search = '102203877_Vaibhav_Tandon'  # Replace this with the name you want to search for
participant = df_filtered[df_filtered['Name'] == name_to_search]

if not participant.empty:
    print(participant[['Roll Number', 'Name', 'TopsisRank', 'Marks']])
else:
    print(f"No participant found with the name '{name_to_search}'")

    Roll Number                      Name  TopsisRank  Marks
14     13225221  102203877_Vaibhav_Tandon         4.0    2.0

In [248]:
# Save the output to a CSV file
df_output.to_csv('kaggle_hack_01_results.csv', index=False)